<div class="container-fluid">
  <div class="form-group" *ngIf="champion">
    <div class="form-group">
      <h2>{{ champion.name | uppercase }} Details</h2>
      <label for="champion-id">Id</label>
      <input class="form-control" type="text" placeholder="{{ champion.id }}" readonly />
    </div>

    <div class="form-group">
      <label for="champion-name">Name</label>
      <input class="form-control" id="champion-name" [(ngModel)]="champion.name" placeholder="champion name"/>
    </div>

    <div class="form-group">
      <label for="type">Class</label>
      <select class="form-control" id="type" required [(ngModel)]="champion.type" name="type">
        <option *ngFor="let type of types" [value]="type">{{ type }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="role">Role</label>
      <select class="form-control" id="role" required [(ngModel)]="champion.role" name="role">
        <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
      </select>
    </div>

    <button class="btn btn-primary" (click)="save()">Save</button>
    &nbsp;
    <button class="test btn btn-secondary" (click)="goBack()">Back</button>
  </div>
</div>
